
/* Banner */
    #banner {
        background-color: #ccc;
        text-align: center;
        padding: 5px;
        align-content: center;
        width: 100%;
    }

/* Body */
    #body1 {
        display: block;
        position: relative;
        align-content: center;
        width: auto;
        height: auto;
        background-color: grey;
        padding-bottom: 35px;
    }

/* Footer */
    #footer {
        clear: both;
        position: relative;
        background-color: white;
        padding: 0.25em;
        bottom: 0;
        left: 0;
        height: 35px;
    }

/* Header */
    #header {
        padding: 7em 5em 4em 5em;
        text-align: center;
    }

/* Images */
    #telescopes {
        position: relative;
        width: 25%;
        height: auto;
        top: 50%;
        left: 12.5%;
        float: left;
        margin-top: 30px;
        margin-bottom: 30px;
        border-width: 3px;
    }

/* Main */
    #main {
        background-color: aquamarine;
        color: black;
        border-radius: 0.25em;
    }

/* Navigation */
    #nav {
        transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
        background-color: #ADC20C;
        color: #636363;
        border-top-left-radius: 0.25em;
        border-top-right-radius: 0.25em;
        cursor: default;
        text-align: center;
    }

        #nav input, #nav select, #nav textarea {
            color: #636363;
        }

        #nav a:hover {
            color: #636363;
        }

        #nav strong, #nav b {
            color: #636363;
        }

        #nav h1, #nav h2, #nav h3, #nav h4, #nav h5, #nav h6 {
            color: #636363;
        }

        #nav blockquote {
            border-left-color: #dddddd;
        }

        #nav code {
            background: rgba(222, 222, 222, 0.25);
            border-color: #dddddd;
        }

        #nav hr {
            border-bottom-color: #dddddd;
        }

        #nav + #main {
            padding-top: 4.25em;
        }

        #nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline-flex;
            align-items: center;
        }

            #nav ul li {
                transition: margin 0.2s ease;
                margin: 0 0.35em;
                padding: 0;
                vertical-align: middle;
            }

                #nav ul li a {
                    transition: font-size 0.2s ease;
                    display: inline-block;
                    height: 2.25em;
                    line-height: 2.25em;
                    padding: 0 1.25em;
                    border: 0;
                    border-radius: 8px;
                    box-shadow: inset 0 0 0 1px transparent;
                }
                    #nav ul li a:hover {
                        background-color: rgba(222, 222, 222, 0.25);
                    }

                    #nav ul li a:active {
                        background-color: #ffff;
                        box-shadow: none;
                    }

                    #nav ul li a:link {
                        color: #636363;
                        text-decoration: none;
                    }

                    #nav ul li a:visited {
                        color: #636363;
                        text-decoration: none;
                    }

/* Title */
    title {
        display: none;
    }

/* Wrapper */
    #wrapper {
        width: auto;
        box-sizing: border-box;
    }