
/* Banner */
#banner {
    background-color: #ccc;
    text-align: center;
    padding: 5px;
    align-content: center;
}

/* Body */
#body {
    display: block;
    height: auto;
    padding: 5px;
    align-content: center;
    border-bottom: 1px solid black;
    font-family: PingFang TC;
}

/* Button */
.btn {
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #333333;
  }
  
/* FAQ */
/* Style the buttons that are used to open and close the accordion panel */
.faq {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .faq:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

.faq:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }


/* Footer */
#footer {
    clear: both;
    position: relative;
    background-color: white;
    padding: 0.25em;
    bottom: 0;
    left: 0;
    height: 35px;
    padding-bottom: 2em;
}

/* Grid */
#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }

    #grid-1 { 
        grid-area: 1 / 1 / 2 / 2; 
        padding: 10px;
        text-align: right;
        border: 1px solid black;
        background-color: grey;
    }

    #grid-2 {
        grid-area: 1 / 2 / 2 / 3;
        padding: 10px;
        text-align: left;
        border: 1px solid black;
        background-color: goldenrod;
    }

    #object-3 { 
        grid-area: 2 / 1 / 3 / 2; 
        padding: 10px;
        text-align: right;
        border: 1px solid black;
        background-color: grey;
    }

    #object-4 {
        grid-area: 2 / 2 / 3 / 3;
        padding: 10px;
        text-align: left;
        border: 1px solid black;
        background-color: goldenrod;
    }

    #object-5 {
        grid-area: 3 / 1 / 4 / 2;
        padding: 10px;
        text-align: right;
        border: 1px solid black;
        background-color: grey;
    }

    #object-6 {
        grid-area: 3 / 2 / 4 / 3;
        padding: 10px;
        text-align: left;
        border: 1px solid black;
        background-color: goldenrod;
    }

/* Header */
#header {
    text-align: center;
}

/* Main */
#main {
    color: black;
    border-radius: 0.25em;
}

/* Wrapper */
#wrapper {
    background-image: linear-gradient(#00849C, #B1A6A2);
        height: auto; 
        width: auto;
        box-sizing: border-box;
}