
/* Body */
#body {
    display: block;
    height: auto;
    padding: 5px;
    align-content: center;
    border-bottom: 1px solid black;
    font-family: PingFang TC;
}

/* Footer */
#footer {
    clear: both;
    position: relative;
    background-color: white;
    padding: 0.25em;
    bottom: 0;
    left: 0;
    height: 35px;
    padding-bottom: 2em;
}

/* Grid */
#grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }

    #grid-1 { 
        grid-area: 1 / 1 / 2 / 2; 
        padding: 10px;
        text-align: right;
        border: 1px solid black;
        background-color: grey;
    }

    #grid-2 {
        grid-area: 1 / 2 / 2 / 3;
        padding: 10px;
        text-align: left;
        border: 1px solid black;
        background-color: goldenrod;
    }

/* Header */
#header {
    text-align: center;
}

/* Main */
#main {
    color: black;
    border-radius: 0.25em;
}

/* Wrapper */
#wrapper {
    background-image: linear-gradient(#00849C, #B1A6A2);
        height: auto; 
        width: auto;
        box-sizing: border-box;
}